# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_DEVACADEMYL3E2
	select SOC_NRF54L05_CPUAPP if BOARD_DEVACADEMYL3E2_NRF54L05_CPUAPP
	select SOC_NRF54L10_CPUAPP if BOARD_DEVACADEMYL3E2_NRF54L10_CPUAPP || BOARD_DEVACADEMYL3E2_NRF54L10_CPUAPP_NS
	select SOC_NRF54L15_CPUAPP if BOARD_DEVACADEMYL3E2_NRF54L15_CPUAPP || BOARD_DEVACADEMYL3E2_NRF54L15_CPUAPP_NS
	select SOC_NRF54L15_CPUFLPR if BOARD_DEVACADEMYL3E2_NRF54L15_CPUFLPR || \
					    BOARD_DEVACADEMYL3E2_NRF54L15_CPUFLPR_XIP
